In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

Now I want to create my model. I will join the previous files.

In [2]:
# merging the csv files
tournaments = pd.concat(
    map(pd.read_csv, ['tourneyResults2003.csv','tourneyResults2004.csv','tourneyResults2005.csv','tourneyResults2006.csv','tourneyResults2007.csv','tourneyResults2008.csv','tourneyResults2009.csv','tourneyResults2010.csv','tourneyResults2011.csv', 'tourneyResults2012.csv', 'tourneyResults2013.csv', 'tourneyResults2014.csv', 'tourneyResults2015.csv', 'tourneyResults2016.csv','tourneyResults2017.csv','tourneyResults2018.csv','tourneyResults2019.csv','tourneyResults2021.csv']), ignore_index=True)
tournaments

,Unnamed: 0,team_1,Seed_1,team_0,Seed_0,winner,team_score_mean_1,num_ot_mean_1,fgm_mean_1,fga_mean_1,...,or_median_0,dr_median_0,ast_median_0,to_median_0,stl_median_0,blk_median_0,pf_median_0,Last14days_0,last14days_wins_0,season
0,0,1411,16,1421,16,0,72.800000,0.033333,24.733333,55.266667,...,12.0,22.0,13.0,16.0,7.0,3.0,19.0,3,3,2003
1,1,1400,1,1421,16,1,78.857143,0.035714,28.000000,62.428571,...,12.0,22.0,13.0,16.0,7.0,3.0,19.0,3,3,2003
2,2,1112,1,1436,16,1,85.214286,0.071429,30.321429,65.714286,...,12.0,26.0,13.0,14.0,6.0,3.0,16.0,3,3,2003
3,3,1112,1,1211,9,1,85.214286,0.071429,30.321429,65.714286,...,12.0,26.0,17.0,15.0,6.0,3.0,18.0,2,1,2003
4,4,1153,8,1211,9,0,67.321429,0.000000,22.892857,56.678571,...,12.0,26.0,17.0,15.0,6.0,3.0,18.0,2,1,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,61,1325,13,1438,4,1,71.662093,0.106346,24.881647,55.830189,...,10.0,24.0,13.0,11.0,6.0,3.0,17.0,69,39,2021
1177,62,1222,2,1333,12,1,72.282272,0.072289,25.376936,59.111876,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1178,63,1329,4,1333,12,0,73.073950,0.078992,25.292437,56.095798,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1179,64,1260,8,1333,12,0,66.688380,0.068662,23.841549,53.170775,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1180,65,1234,2,1332,7,0,71.772575,0.061873,24.961538,55.877926,...,11.0,24.0,14.0,13.0,7.0,3.0,18.0,77,53,2021

In [3]:
tournaments = pd.DataFrame(tournaments)
tournaments

,Unnamed: 0,team_1,Seed_1,team_0,Seed_0,winner,team_score_mean_1,num_ot_mean_1,fgm_mean_1,fga_mean_1,...,or_median_0,dr_median_0,ast_median_0,to_median_0,stl_median_0,blk_median_0,pf_median_0,Last14days_0,last14days_wins_0,season
0,0,1411,16,1421,16,0,72.800000,0.033333,24.733333,55.266667,...,12.0,22.0,13.0,16.0,7.0,3.0,19.0,3,3,2003
1,1,1400,1,1421,16,1,78.857143,0.035714,28.000000,62.428571,...,12.0,22.0,13.0,16.0,7.0,3.0,19.0,3,3,2003
2,2,1112,1,1436,16,1,85.214286,0.071429,30.321429,65.714286,...,12.0,26.0,13.0,14.0,6.0,3.0,16.0,3,3,2003
3,3,1112,1,1211,9,1,85.214286,0.071429,30.321429,65.714286,...,12.0,26.0,17.0,15.0,6.0,3.0,18.0,2,1,2003
4,4,1153,8,1211,9,0,67.321429,0.000000,22.892857,56.678571,...,12.0,26.0,17.0,15.0,6.0,3.0,18.0,2,1,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,61,1325,13,1438,4,1,71.662093,0.106346,24.881647,55.830189,...,10.0,24.0,13.0,11.0,6.0,3.0,17.0,69,39,2021
1177,62,1222,2,1333,12,1,72.282272,0.072289,25.376936,59.111876,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1178,63,1329,4,1333,12,0,73.073950,0.078992,25.292437,56.095798,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1179,64,1260,8,1333,12,0,66.688380,0.068662,23.841549,53.170775,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1180,65,1234,2,1332,7,0,71.772575,0.061873,24.961538,55.877926,...,11.0,24.0,14.0,13.0,7.0,3.0,18.0,77,53,2021

In [4]:
tournaments = tournaments.drop(['Unnamed: 0'], axis=1)

In [5]:
tournaments

,team_1,Seed_1,team_0,Seed_0,winner,team_score_mean_1,num_ot_mean_1,fgm_mean_1,fga_mean_1,fgm3_mean_1,...,or_median_0,dr_median_0,ast_median_0,to_median_0,stl_median_0,blk_median_0,pf_median_0,Last14days_0,last14days_wins_0,season
0,1411,16,1421,16,0,72.800000,0.033333,24.733333,55.266667,5.933333,...,12.0,22.0,13.0,16.0,7.0,3.0,19.0,3,3,2003
1,1400,1,1421,16,1,78.857143,0.035714,28.000000,62.428571,5.857143,...,12.0,22.0,13.0,16.0,7.0,3.0,19.0,3,3,2003
2,1112,1,1436,16,1,85.214286,0.071429,30.321429,65.714286,7.035714,...,12.0,26.0,13.0,14.0,6.0,3.0,16.0,3,3,2003
3,1112,1,1211,9,1,85.214286,0.071429,30.321429,65.714286,7.035714,...,12.0,26.0,17.0,15.0,6.0,3.0,18.0,2,1,2003
4,1153,8,1211,9,0,67.321429,0.000000,22.892857,56.678571,6.678571,...,12.0,26.0,17.0,15.0,6.0,3.0,18.0,2,1,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,1325,13,1438,4,1,71.662093,0.106346,24.881647,55.830189,7.276158,...,10.0,24.0,13.0,11.0,6.0,3.0,17.0,69,39,2021
1177,1222,2,1333,12,1,72.282272,0.072289,25.376936,59.111876,7.648881,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1178,1329,4,1333,12,0,73.073950,0.078992,25.292437,56.095798,6.737815,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1179,1260,8,1333,12,0,66.688380,0.068662,23.841549,53.170775,5.959507,...,10.0,22.0,13.0,13.0,6.0,3.0,18.0,61,24,2021
1180,1234,2,1332,7,0,71.772575,0.061873,24.961538,55.877926,6.767559,...,11.0,24.0,14.0,13.0,7.0,3.0,18.0,77,53,2021

In [6]:
seeds = tournaments.groupby(['Seed_1']).sum('winner')
seeds = pd.DataFrame(seeds['winner'])
seeds

        winner
Seed_1
1          129
2           76
3           67
4           53
5           40
6           31
7           28
8           33
9           17
10          16
11          30
12          23
13          10
14           5
15           2
16          11

In [7]:
seeds0 = tournaments.groupby(['Seed_0']).sum('winner')
seeds0 = pd.DataFrame(seeds0['winner'])
seeds0 = seeds0.rename(columns={'winner':'winner1'})

In [8]:
seeds = pd.concat([seeds, seeds0], axis=1)
seeds = seeds.astype(int)
seeds['wincount'] = seeds['winner'] + seeds['winner1']
seeds = pd.DataFrame(seeds['wincount'])
seeds

    wincount
1        158
2        108
3         99
4         92
5         83
6         65
7         62
8         64
9         59
10        45
11        81
12        62
13        41
14        33
15        33
16        57

In [9]:
tournaments.isna().any()

team_1               False
Seed_1               False
team_0               False
Seed_0               False
winner               False
                     ...
blk_median_0         False
pf_median_0          False
Last14days_0         False
last14days_wins_0    False
season               False
Length: 70, dtype: bool

In [10]:
tournaments.season.value_counts()

2012    67
2013    67
2019    67
2018    67
2017    67
2016    67
2015    67
2014    67
2011    67
2021    66
2004    64
2010    64
2009    64
2008    64
2007    64
2006    64
2005    64
2003    64
Name: season, dtype: int64

In [11]:
#converting all columns to integers
tournaments = tournaments.astype('float64').round(3)
tournaments.describe()

,team_1,Seed_1,team_0,Seed_0,winner,team_score_mean_1,num_ot_mean_1,fgm_mean_1,fga_mean_1,fgm3_mean_1,...,or_median_0,dr_median_0,ast_median_0,to_median_0,stl_median_0,blk_median_0,pf_median_0,Last14days_0,last14days_wins_0,season
count,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,...,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000
mean,1232.670618,7.068586,1355.459780,6.953429,0.483489,72.810293,0.063505,25.622045,56.404092,6.690159,...,11.522015,23.936494,14.051651,13.207451,6.655800,3.484759,17.758679,33.571550,20.135478,2011.650296
std,84.723643,4.787116,84.185728,4.634656,0.499939,4.399439,0.024951,1.724697,2.740644,0.886510,...,1.349962,1.374476,1.412519,1.277137,1.013608,0.984079,1.371385,20.120341,12.740178,5.274224
min,1101.000000,1.000000,1124.000000,1.000000,0.000000,58.714000,0.000000,19.714000,40.911000,3.870000,...,7.000000,19.000000,10.000000,9.000000,4.000000,1.000000,14.000000,0.000000,0.000000,2003.000000
25%,1163.000000,3.000000,1287.000000,3.000000,0.000000,69.832000,0.049000,24.525000,54.712000,6.082000,...,11.000000,23.000000,13.000000,13.000000,6.000000,3.000000,17.000000,16.000000,10.000000,2007.000000
50%,1231.000000,6.000000,1376.000000,6.000000,0.000000,72.548000,0.063000,25.515000,56.379000,6.555000,...,11.000000,24.000000,14.000000,13.000000,6.500000,3.000000,18.000000,32.000000,18.000000,2012.000000
75%,1280.000000,11.000000,1433.000000,11.000000,1.000000,75.613000,0.077000,26.752000,58.091000,7.333000,...,12.000000,25.000000,15.000000,14.000000,7.000000,4.000000,19.000000,50.000000,29.000000,2016.000000
max,1458.000000,16.000000,1463.000000,16.000000,1.000000,86.386000,0.172000,30.930000,65.714000,9.470000,...,16.000000,29.000000,18.000000,19.000000,12.000000,9.000000,22.000000,91.000000,64.000000,2021.000000

In [12]:
#tournaments.num_ot_mean_1.unique()

In [13]:
dupes = tournaments[tournaments.duplicated()]
dupes

Empty DataFrame
Columns: [team_1, Seed_1, team_0, Seed_0, winner, team_score_mean_1, num_ot_mean_1, fgm_mean_1, fga_mean_1, fgm3_mean_1, fga3_mean_1, ftm_mean_1, fta_mean_1, or_mean_1, dr_mean_1, ast_mean_1, to_mean_1, stl_mean_1, blk_mean_1, pf_mean_1, team_score_median_1, num_ot_median_1, fgm_median_1, fga_median_1, fgm3_median_1, fga3_median_1, ftm_median_1, fta_median_1, or_median_1, dr_median_1, ast_median_1, to_median_1, stl_median_1, blk_median_1, pf_median_1, Last14days_1, last14days_wins_1, team_score_mean_0, num_ot_mean_0, fgm_mean_0, fga_mean_0, fgm3_mean_0, fga3_mean_0, ftm_mean_0, fta_mean_0, or_mean_0, dr_mean_0, ast_mean_0, to_mean_0, stl_mean_0, blk_mean_0, pf_mean_0, team_score_median_0, num_ot_median_0, fgm_median_0, fga_median_0, fgm3_median_0, fga3_median_0, ftm_median_0, fta_median_0, or_median_0, dr_median_0, ast_median_0, to_median_0, stl_median_0, blk_median_0, pf_median_0, Last14days_0, last14days_wins_0, season]
Index: []

[0 rows x 70 columns]

Checking to see if there are any duplicates. There aren't.

# Building Model

In [14]:
tournaments.columns

Index(['team_1', 'Seed_1', 'team_0', 'Seed_0', 'winner', 'team_score_mean_1',
       'num_ot_mean_1', 'fgm_mean_1', 'fga_mean_1', 'fgm3_mean_1',
       'fga3_mean_1', 'ftm_mean_1', 'fta_mean_1', 'or_mean_1', 'dr_mean_1',
       'ast_mean_1', 'to_mean_1', 'stl_mean_1', 'blk_mean_1', 'pf_mean_1',
       'team_score_median_1', 'num_ot_median_1', 'fgm_median_1',
       'fga_median_1', 'fgm3_median_1', 'fga3_median_1', 'ftm_median_1',
       'fta_median_1', 'or_median_1', 'dr_median_1', 'ast_median_1',
       'to_median_1', 'stl_median_1', 'blk_median_1', 'pf_median_1',
       'Last14days_1', 'last14days_wins_1', 'team_score_mean_0',
       'num_ot_mean_0', 'fgm_mean_0', 'fga_mean_0', 'fgm3_mean_0',
       'fga3_mean_0', 'ftm_mean_0', 'fta_mean_0', 'or_mean_0', 'dr_mean_0',
       'ast_mean_0', 'to_mean_0', 'stl_mean_0', 'blk_mean_0', 'pf_mean_0',
       'team_score_median_0', 'num_ot_median_0', 'fgm_median_0',
       'fga_median_0', 'fgm3_median_0', 'fga3_median_0', 'ftm_median_0',
       'fta_median_0', 'or_median_0', 'dr_median_0', 'ast_median_0',
       'to_median_0', 'stl_median_0', 'blk_median_0', 'pf_median_0',
       'Last14days_0', 'last14days_wins_0', 'season'],
      dtype='object')

In [15]:
numeric_columns = ['team_1', 'Seed_1', 'team_0', 'Seed_0','team_score_mean_1',
       'num_ot_mean_1', 'fgm_mean_1', 'fga_mean_1', 'fgm3_mean_1',
       'fga3_mean_1', 'ftm_mean_1', 'fta_mean_1', 'or_mean_1', 'dr_mean_1',
       'ast_mean_1', 'to_mean_1', 'stl_mean_1', 'blk_mean_1', 'pf_mean_1',
       'team_score_median_1', 'num_ot_median_1', 'fgm_median_1',
       'fga_median_1', 'fgm3_median_1', 'fga3_median_1', 'ftm_median_1',
       'fta_median_1', 'or_median_1', 'dr_median_1', 'ast_median_1',
       'to_median_1', 'stl_median_1', 'blk_median_1', 'pf_median_1',
       'Last14days_1', 'last14days_wins_1', 'team_score_mean_0',
       'num_ot_mean_0', 'fgm_mean_0', 'fga_mean_0', 'fgm3_mean_0',
       'fga3_mean_0', 'ftm_mean_0', 'fta_mean_0', 'or_mean_0', 'dr_mean_0',
       'ast_mean_0', 'to_mean_0', 'stl_mean_0', 'blk_mean_0', 'pf_mean_0',
       'team_score_median_0', 'num_ot_median_0', 'fgm_median_0',
       'fga_median_0', 'fgm3_median_0', 'fga3_median_0', 'ftm_median_0',
       'fta_median_0', 'or_median_0', 'dr_median_0', 'ast_median_0',
       'to_median_0', 'stl_median_0', 'blk_median_0', 'pf_median_0',
       'Last14days_0', 'last14days_wins_0']

In [16]:
from sklearn.preprocessing import StandardScaler

#Scaling Data
scaler = StandardScaler()

#Use the fit method of the instance
scaler.fit(tournaments[numeric_columns])

#Use the transform method to perform the transformation
tournaments.loc[:, numeric_columns] = scaler.transform(tournaments[numeric_columns])
tournaments.head()

,team_1,Seed_1,team_0,Seed_0,winner,team_score_mean_1,num_ot_mean_1,fgm_mean_1,fga_mean_1,fgm3_mean_1,...,or_median_0,dr_median_0,ast_median_0,to_median_0,stl_median_0,blk_median_0,pf_median_0,Last14days_0,last14days_wins_0,season
0,2.105728,1.866510,0.778849,1.952767,0.0,-0.002341,-1.223084,-0.515697,-0.415075,-0.854452,...,0.354223,-1.409494,-0.744837,2.187495,0.339723,-0.49281,0.905542,-1.520079,-1.345565,2003.0
1,1.975839,-1.268229,0.778849,1.952767,1.0,1.375009,-1.102799,1.379351,2.199286,-0.940217,...,0.354223,-1.409494,-0.744837,2.187495,0.339723,-0.49281,0.905542,-1.520079,-1.345565,2003.0
2,-1.424888,-1.268229,0.957102,1.952767,1.0,2.820578,0.300526,2.725665,3.398417,0.390280,...,0.354223,1.501940,-0.744837,0.620829,-0.647270,-0.49281,-1.282954,-1.520079,-1.345565,2003.0
3,-1.424888,-1.268229,-1.716692,0.441767,1.0,2.820578,0.300526,2.725665,3.398417,0.390280,...,0.354223,1.501940,2.088182,1.404162,-0.647270,-0.49281,0.176043,-1.569801,-1.502615,2003.0
4,-0.940757,0.194649,-1.716692,0.441767,0.0,-1.248254,-2.546219,-1.583004,0.100350,-0.012593,...,0.354223,1.501940,2.088182,1.404162,-0.647270,-0.49281,0.176043,-1.569801,-1.502615,2003.0

In [17]:
from sklearn.model_selection import TimeSeriesSplit # will split data properly when we are doing feature selection
from sklearn.feature_selection import SequentialFeatureSelector

LR = LogisticRegression()
split = TimeSeriesSplit(n_splits=3)
sfs = SequentialFeatureSelector(LR, n_features_to_select=15, direction='forward', cv=split) #forward starts with zero features, pick the feature tha timporve model accuracy the most and then keep doing that until we get to 20

In [18]:
removed_columns = ["season", "winner"] #columns that won't run in the model

In [19]:
selected_columns = tournaments.columns[~tournaments.columns.isin(removed_columns)] #columns that we want to include in the model

In [20]:
sfs.fit(tournaments[selected_columns], tournaments['winner'])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=LogisticRegression(),
                          n_features_to_select=15)

In [21]:
predictors = list(selected_columns[sfs.get_support()])
predictors

['Seed_1',
 'Seed_0',
 'num_ot_mean_1',
 'fga_mean_1',
 'fgm3_mean_1',
 'ast_mean_1',
 'stl_mean_1',
 'num_ot_median_1',
 'fga3_median_1',
 'ftm_median_1',
 'blk_median_1',
 'dr_mean_0',
 'pf_mean_0',
 'num_ot_median_0',
 'fgm3_median_0']

In [22]:
def backtest(data, model, predictors, start=2, step=1):
    all_predictions = [] # list odf dataframe, each dataframe is the prediction for a single seasons
    seasons  = sorted(tournaments["season"].unique()) #list of seasons tha texist in data
    
    for i in range(start, len(seasons), step): #we progress with step parameter (one season at a time)
        season = seasons[i] # pull out the season number / 2013 will be the first season
        
        train = tournaments[tournaments["season"] < season] #for 2013, training will be 2012 and 2011
        test = tournaments[tournaments['season'] == season] #test will be 2013 (or whatever the current season is)
        
        model.fit(train[predictors], train['winner']) #this will take training data, all the predictors
        preds = model.predict(test[predictors]) #generate predictions from the test set we want 
        
        #by default model.fit  will return numpy array, but we want to convert it to a pandas series, keep index the same as test set index to make it easier to combin actuals and predictions
        preds = pd.Series(preds, index=test.index)
        
        combined = pd.concat([test['winner'], preds], axis=1) #axis=1 means treats target and preds as two columns, axis=0 would return one column and everything would be returned in rows
        combined.columns = ['actual', 'predictions'] #renaming columns
        
        all_predictions.append(combined) #this will be a list of five dataframes, one for each season, then we will combine all 
        
    return pd.concat(all_predictions)

In [23]:
predictions = backtest(tournaments, LR, predictors)

In [24]:
predictions

      actual  predictions
128      0.0          1.0
129      1.0          1.0
130      1.0          1.0
131      1.0          1.0
132      0.0          1.0
...      ...          ...
1176     1.0          0.0
1177     1.0          1.0
1178     0.0          1.0
1179     0.0          1.0
1180     0.0          1.0

[1053 rows x 2 columns]

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(predictions['actual'],predictions['predictions'])

0.6989553656220323

In [26]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(predictions['actual'],predictions['predictions']))

              precision    recall  f1-score   support

         0.0       0.71      0.72      0.71       546
         1.0       0.69      0.68      0.69       507

    accuracy                           0.70      1053
   macro avg       0.70      0.70      0.70      1053
weighted avg       0.70      0.70      0.70      1053

## Manual Implementation of Measurement Metrics

To get a more granular look at the performance of the models used in this prediciton, I am calculating precision, recall and accuracy for each model to see how the model handles the data better.

In [27]:
predsDF = pd.merge(tournaments, predictions, left_index=True, right_index=True)
predsDF

# getting TP, TN, FP and FN value counts for the data
predsDF['truepos'] = np.where((predsDF['actual']==1) & (predsDF['predictions']==1),1,0)
predsDF['trueneg']= np.where((predsDF['actual']==0) & (predsDF['predictions']==0),1,0)
predsDF['falsepos']= np.where((predsDF['actual']==0) & (predsDF['predictions']==1),1,0)
predsDF['falseneg']= np.where((predsDF['actual']==1) & (predsDF['predictions']==0),1,0)
predsDF

#calculating precision, accuracy and recall
predsDF2 = predsDF.groupby(['season']).sum()
predsDF2.columns
predsDF3 = predsDF2[['team_1', 'team_0','actual', 'predictions', 'truepos',
       'trueneg', 'falsepos', 'falseneg']]
predsDF3
predsDF3['precision'] = predsDF3['truepos']/(predsDF3['truepos']+predsDF3['falsepos'])
predsDF3['accuracy'] = (predsDF3['truepos']+predsDF3['trueneg'])/(predsDF3['truepos']+predsDF3['falsepos']+predsDF3['trueneg']+predsDF3['falseneg'])
predsDF3['recall'] = predsDF3['truepos']/(predsDF3['truepos']+predsDF3['falseneg'])
predsDF3 = predsDF3.reset_index()
predsDF3

/var/folders/xb/f5b3swwd2sv23ycj3qfh_45c0000gn/T/ipykernel_94982/425549526.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predsDF3['precision'] = predsDF3['truepos']/(predsDF3['truepos']+predsDF3['falsepos'])
/var/folders/xb/f5b3swwd2sv23ycj3qfh_45c0000gn/T/ipykernel_94982/425549526.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predsDF3['accuracy'] = (predsDF3['truepos']+predsDF3['trueneg'])/(predsDF3['truepos']+predsDF3['falsepos']+predsDF3['trueneg']+predsDF3['falseneg'])
/var/folders/xb/f5b3swwd2sv23ycj3qfh_45c0000gn/T/ipykernel_94982/425549526.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predsDF3['recall'] = predsDF3['truepos']/(predsDF3['truepos']+predsDF3['falseneg'])

,season,team_1,team_0,actual,predictions,truepos,trueneg,falsepos,falseneg,precision,accuracy,recall
0,2005.0,4.854071,8.396595,31.0,39.0,23,17,16,8,0.589744,0.625000,0.741935
1,2006.0,-9.953262,-0.920093,32.0,31.0,20,21,11,12,0.645161,0.640625,0.625000
2,2007.0,11.690950,12.484529,30.0,28.0,24,30,4,6,0.857143,0.843750,0.800000
3,2008.0,9.282102,16.287259,29.0,27.0,22,30,5,7,0.814815,0.812500,0.758621
4,2009.0,0.048182,-2.405534,24.0,31.0,19,28,12,5,0.612903,0.734375,0.791667
5,2010.0,9.199445,0.505930,32.0,31.0,21,22,10,11,0.677419,0.671875,0.656250
6,2011.0,-15.243423,0.346937,38.0,26.0,20,23,6,18,0.769231,0.641791,0.526316
7,2012.0,1.772022,-12.677412,35.0,32.0,24,24,8,11,0.750000,0.716418,0.685714
8,2013.0,-5.112089,-23.942999,33.0,32.0,22,24,10,11,0.687500,0.686567,0.666667
9,2014.0,-11.783655,-0.235356,38.0,24.0,18,23,6,20,0.750000,0.611940,0.473684
10,2015.0,-8.512817,9.330886,31.0,33.0,24,27,9,7,0.727273,0.761194,0.774194
11,2016.0,16.036184,14.072414,29.0,27.0,17,28,10,12,0.629630,0.671642,0.586207
12,2017.0,2.208921,13.834744,33.0,46.0,31,19,15,2,0.673913,0.746269,0.939394
13,2018.0,6.755032,-8.637012,31.0,29.0,19,26,10,12,0.655172,0.671642,0.612903
14,2019.0,2.362426,-4.632262,29.0,25.0,15,28,10,14,0.600000,0.641791,0.517241
15,2021.0,-13.653221,-8.833568,32.0,39.0,26,21,13,6,0.666667,0.712121,0.812500

In [28]:
print("Average accuracy of the model:",predsDF3.accuracy.mean())
print("Average precision of the model:",predsDF3.precision.mean())
print("Average recall of the model:",predsDF3.recall.mean())

Average accuracy of the model: 0.6993437464665309
Average precision of the model: 0.6941606489212601
Average recall of the model: 0.6855182988764572

# Logistic Regression with 10 Features

In [29]:
from sklearn.model_selection import TimeSeriesSplit # will split data properly when we are doing feature selection
from sklearn.feature_selection import SequentialFeatureSelector

LR10 = LogisticRegression()
split = TimeSeriesSplit(n_splits=3)
sfs = SequentialFeatureSelector(LR10, n_features_to_select=10, direction='forward', cv=split) #forward starts with zero features, pick the feature tha timporve model accuracy the most and then keep doing that until we get to 20

In [30]:
sfs.fit(tournaments[selected_columns], tournaments['winner'])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=LogisticRegression(),
                          n_features_to_select=10)

In [31]:
predictors = list(selected_columns[sfs.get_support()])
predictors

['Seed_1',
 'Seed_0',
 'num_ot_mean_1',
 'fga_mean_1',
 'ast_mean_1',
 'stl_mean_1',
 'num_ot_median_1',
 'dr_mean_0',
 'num_ot_median_0',
 'fgm3_median_0']

In [32]:
predictions = backtest(tournaments, LR10, predictors)

In [33]:
accuracy_score(predictions['actual'],predictions['predictions'])

0.698005698005698

In [34]:
print(classification_report(predictions['actual'],predictions['predictions']))

              precision    recall  f1-score   support

         0.0       0.71      0.72      0.71       546
         1.0       0.69      0.68      0.68       507

    accuracy                           0.70      1053
   macro avg       0.70      0.70      0.70      1053
weighted avg       0.70      0.70      0.70      1053

In [35]:
predsDF = pd.merge(tournaments, predictions, left_index=True, right_index=True)
predsDF

# getting TP, TN, FP and FN value counts for the data
predsDF['truepos'] = np.where((predsDF['actual']==1) & (predsDF['predictions']==1),1,0)
predsDF['trueneg']= np.where((predsDF['actual']==0) & (predsDF['predictions']==0),1,0)
predsDF['falsepos']= np.where((predsDF['actual']==0) & (predsDF['predictions']==1),1,0)
predsDF['falseneg']= np.where((predsDF['actual']==1) & (predsDF['predictions']==0),1,0)
predsDF

#calculating precision, accuracy and recall
predsDF2 = predsDF.groupby(['season']).sum()
predsDF2.columns
predsDF3 = predsDF2[['team_1', 'team_0','actual', 'predictions', 'truepos',
       'trueneg', 'falsepos', 'falseneg']]
predsDF3
predsDF3['precision'] = predsDF3['truepos']/(predsDF3['truepos']+predsDF3['falsepos'])
predsDF3['accuracy'] = (predsDF3['truepos']+predsDF3['trueneg'])/(predsDF3['truepos']+predsDF3['falsepos']+predsDF3['trueneg']+predsDF3['falseneg'])
predsDF3['recall'] = predsDF3['truepos']/(predsDF3['truepos']+predsDF3['falseneg'])
predsDF3 = predsDF3.reset_index()
predsDF3

/var/folders/xb/f5b3swwd2sv23ycj3qfh_45c0000gn/T/ipykernel_94982/425549526.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predsDF3['precision'] = predsDF3['truepos']/(predsDF3['truepos']+predsDF3['falsepos'])
/var/folders/xb/f5b3swwd2sv23ycj3qfh_45c0000gn/T/ipykernel_94982/425549526.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predsDF3['accuracy'] = (predsDF3['truepos']+predsDF3['trueneg'])/(predsDF3['truepos']+predsDF3['falsepos']+predsDF3['trueneg']+predsDF3['falseneg'])
/var/folders/xb/f5b3swwd2sv23ycj3qfh_45c0000gn/T/ipykernel_94982/425549526.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predsDF3['recall'] = predsDF3['truepos']/(predsDF3['truepos']+predsDF3['falseneg'])

,season,team_1,team_0,actual,predictions,truepos,trueneg,falsepos,falseneg,precision,accuracy,recall
0,2005.0,4.854071,8.396595,31.0,41.0,24,16,17,7,0.585366,0.625000,0.774194
1,2006.0,-9.953262,-0.920093,32.0,30.0,20,22,10,12,0.666667,0.656250,0.625000
2,2007.0,11.690950,12.484529,30.0,29.0,24,29,5,6,0.827586,0.828125,0.800000
3,2008.0,9.282102,16.287259,29.0,24.0,20,31,4,9,0.833333,0.796875,0.689655
4,2009.0,0.048182,-2.405534,24.0,31.0,18,27,13,6,0.580645,0.703125,0.750000
5,2010.0,9.199445,0.505930,32.0,32.0,21,21,11,11,0.656250,0.656250,0.656250
6,2011.0,-15.243423,0.346937,38.0,25.0,21,25,4,17,0.840000,0.686567,0.552632
7,2012.0,1.772022,-12.677412,35.0,29.0,23,26,6,12,0.793103,0.731343,0.657143
8,2013.0,-5.112089,-23.942999,33.0,32.0,22,24,10,11,0.687500,0.686567,0.666667
9,2014.0,-11.783655,-0.235356,38.0,26.0,19,22,7,19,0.730769,0.611940,0.500000
10,2015.0,-8.512817,9.330886,31.0,34.0,25,27,9,6,0.735294,0.776119,0.806452
11,2016.0,16.036184,14.072414,29.0,27.0,17,28,10,12,0.629630,0.671642,0.586207
12,2017.0,2.208921,13.834744,33.0,45.0,30,19,15,3,0.666667,0.731343,0.909091
13,2018.0,6.755032,-8.637012,31.0,29.0,19,26,10,12,0.655172,0.671642,0.612903
14,2019.0,2.362426,-4.632262,29.0,25.0,15,28,10,14,0.600000,0.641791,0.517241
15,2021.0,-13.653221,-8.833568,32.0,40.0,26,20,14,6,0.650000,0.696970,0.812500

In [36]:
print("Average accuracy of the model:",predsDF3.accuracy.mean())
print("Average precision of the model:",predsDF3.precision.mean())
print("Average recall of the model:",predsDF3.recall.mean())

Average accuracy of the model: 0.6982218700531433
Average precision of the model: 0.6961239205391851
Average recall of the model: 0.6822458654512773

# Saving Model

In [37]:
import pickle

with open('LR15_pickel','wb') as f:
    pickle.dump(LR, f)
    
    
#Save the trained model as a pickle string
#rr = pickle.dumps(rr)

In [38]:
import pickle

with open('LR15_pickel', 'rb') as f:
    LR = pickle.load(f)

# Running Model on 2022 Tournament Data

In [39]:
tourneyResults22 = pd.read_csv('tourneyResults2022.csv')
tourneyResults22.dtypes

Unnamed: 0             int64
team_1                 int64
Seed_1                 int64
team_0                 int64
Seed_0                 int64
                      ...
blk_median_0         float64
pf_median_0          float64
Last14days_0           int64
last14days_wins_0      int64
season                 int64
Length: 71, dtype: object

In [40]:
predictors = ['Seed_1',
 'Seed_0',
 'num_ot_mean_1',
 'fga_mean_1',
 'fgm3_mean_1',
 'ast_mean_1',
 'stl_mean_1',
 'num_ot_median_1',
 'fga3_median_1',
 'ftm_median_1',
 'blk_median_1',
 'dr_mean_0',
 'pf_mean_0',
 'num_ot_median_0',
 'fgm3_median_0']

In [41]:
X = tourneyResults22[predictors]
y = tourneyResults22['winner']

In [42]:
predictions = LR.predict(X)
predictions.shape

(67,)

# Accuracy of Model on '22 Tournament Data

## Accuracy of model with 15 features

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(y,predictions)

0.5671641791044776

In [44]:
tourneyResults22['predictions'] = predictions

In [45]:
tourneyResults22

,Unnamed: 0,team_1,Seed_1,team_0,Seed_0,winner,team_score_mean_1,num_ot_mean_1,fgm_mean_1,fga_mean_1,...,dr_median_0,ast_median_0,to_median_0,stl_median_0,blk_median_0,pf_median_0,Last14days_0,last14days_wins_0,season,predictions
0,0,1231,12,1461,12,1,72.064103,0.068910,25.120192,55.362179,...,24.0,12.0,13.0,5.0,3.0,18.0,67,26,2022,0.0
1,1,1231,12,1388,5,0,72.064103,0.068910,25.120192,55.362179,...,25.0,13.0,12.0,6.0,3.0,17.0,48,31,2022,0.0
2,2,1394,16,1411,16,0,68.226040,0.036166,24.037975,54.300181,...,25.0,12.0,15.0,6.0,3.0,18.0,96,67,2022,0.0
3,3,1242,1,1411,16,1,77.746501,0.052877,27.870918,57.944012,...,25.0,12.0,15.0,6.0,3.0,18.0,96,67,2022,1.0
4,4,1323,11,1353,11,1,74.453968,0.076190,26.026984,57.865079,...,24.0,12.0,13.0,6.0,4.0,18.0,60,22,2022,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,62,1104,6,1323,11,0,71.262400,0.065600,24.936000,56.310400,...,25.0,15.0,10.0,6.0,3.0,14.0,76,44,2022,0.0
63,63,1260,10,1326,7,0,67.033389,0.071786,23.954925,53.220367,...,24.0,14.0,12.0,6.0,4.0,16.0,79,52,2022,0.0
64,64,1345,3,1463,14,1,71.701587,0.058730,25.341270,56.476190,...,24.0,14.0,14.0,6.0,3.0,18.0,46,28,2022,1.0
65,65,1345,3,1400,6,1,71.701587,0.058730,25.341270,56.476190,...,25.0,13.0,12.0,6.0,5.0,18.0,80,43,2022,0.0
66,66,1400,6,1439,11,1,73.143082,0.078616,25.833333,58.316038,...,23.0,13.0,12.0,6.0,3.0,17.0,71,28,2022,0.0

## Accuracy of Model with 10 Features

In [49]:
predictors = ['Seed_1',
 'Seed_0',
 'num_ot_mean_1',
 'fga_mean_1',
 'ast_mean_1',
 'stl_mean_1',
 'num_ot_median_1',
 'dr_mean_0',
 'num_ot_median_0',
 'fgm3_median_0']

In [50]:
X = tourneyResults22[predictors]
y = tourneyResults22['winner']

In [51]:
predictions = LR10.predict(X)
predictions.shape

(67,)

In [52]:
from sklearn.metrics import accuracy_score
accuracy_score(y,predictions)

0.6417910447761194