In [1]:
# For manipulating data
import pandas as pd

In [2]:
# Load SEASONS dataframes:
MSeasons = pd.read_csv('seasons-mens.csv')
print(MSeasons.shape)
MSeasons.head(3)

(8293, 11)

,Season,StartDate,TeamID,ConfAbbrev,Description,RegionW,RegionX,RegionY,RegionZ,CoachChg,CoachName
0,2000,1999-11-01,1102,mwc,Mountain West Conference,East,South,Midwest,West,1.0,reggie_minton
1,2000,1999-11-01,1103,mac,Mid-American Conference,East,South,Midwest,West,1.0,dan_hipsher
2,2000,1999-11-01,1104,sec,Southeastern Conference,East,South,Midwest,West,1.0,mark_gottfried

In [3]:
# Load SEASONS dataframes:
WSeasons = pd.read_csv('seasons-womens.csv')
print(WSeasons.shape)
WSeasons.head(3)

(8212, 9)

,Season,StartDate,TeamID,ConfAbbrev,Description,RegionW,RegionX,RegionY,RegionZ
0,2000,1999-11-01,1102,mwc,Mountain West Conference,East,Midwest,Mideast,West
1,2000,1999-11-01,1103,mac,Mid-American Conference,East,Midwest,Mideast,West
2,2000,1999-11-01,1104,sec,Southeastern Conference,East,Midwest,Mideast,West