In [1]:
# Import Libraries
import pandas as pd
from datetime import datetime, timedelta
import re
import random
import numpy as np

In [8]:
# Create Seasons dataframe
submit1 = pd.read_csv('check_submission_1.csv')

In [3]:
# Create Seasons dataframe
submit2 = pd.read_csv('msds565_submission_2.csv')

In [6]:
included = [1104,1112,1113,1116,1120,1124,1129,1158,1159,1163,1166,1179,
            1181,1192,1194,1202,1211,1213,1222,1224,1228,1231,1233,1234,
            1235,1242,1243,1244,1245,1246,1266,1268,1272,1274,1277,1280,
            1281,1286,1297,1301,1321,1331,1336,1338,1343,1344,1345,1361,
            1364,1369,1388,1394,1395,1397,1400,1401,1411,1417,1418,1421,
            1425,1429,1433,1436,1438,1452,1462]

In [9]:
find1 = submit1[(submit1['Team0'].isin(included)) | (submit1['Team1'].isin(included))].copy()

In [11]:
find1.to_csv('find1.csv',index=False)

In [15]:
# Create Seasons dataframe
teams = pd.read_csv('../mens/MTeams.csv')

In [25]:
find3.columns

Index(['Season', 'Team0', 'Team1', 'ID', 'Pred', 'TeamID0', 'TeamName0',
       'TeamID1', 'TeamName1'],
      dtype='object')

In [16]:
# Merge the 'Tourney' and 'Seeds' dataframes on 'Season' and 'TeamID' columns
find2 = pd.merge(find1, teams, how='left', left_on=['Team0'], right_on=['TeamID'])

In [18]:
# Merge the 'Tourney' and 'Seeds' dataframes on 'Season' and 'TeamID' columns
find3 = pd.merge(find2, teams, how='left', left_on=['Team1'], right_on=['TeamID'])

In [24]:
new_names = {'TeamID_x':'TeamID0', 'TeamName_x':'TeamName0', 'TeamID_y':'TeamID1', 'TeamName_y':'TeamName1'}

find3 = find3.rename(columns=new_names)
find3 = find3.drop(columns=['FirstD1Season_x', 'LastD1Season_x', 'FirstD1Season_y', 'LastD1Season_y'])

In [26]:
find3.head()

,Season,Team0,Team1,ID,Pred,TeamID0,TeamName0,TeamID1,TeamName1
0,2023,1101,1104,2023_1101_1104,1.000,1101,Abilene Chr,1104,Alabama
1,2023,1101,1112,2023_1101_1112,1.000,1101,Abilene Chr,1112,Arizona
2,2023,1101,1113,2023_1101_1113,0.845,1101,Abilene Chr,1113,Arizona St
3,2023,1101,1116,2023_1101_1116,0.996,1101,Abilene Chr,1116,Arkansas
4,2023,1101,1120,2023_1101_1120,0.978,1101,Abilene Chr,1120,Auburn

In [27]:
# Save dataframes as csv files
find3_data = find3.to_csv('find3.csv',index=False)